body {
    background-color: black;
    color: aliceblue;
text-align: center;
}

.container label, input{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 35%;
    padding: 5px;
    margin-bottom: 6px;
}

button {
    padding: 5px;
    border-radius: 5px;
}